.mycoffee{
padding-top:0px;
font-size:90px;
color:#CEC897;
text-align:center;
text-shadow:3px 5px 6px black;
-webkit-text-stroke: 2px black;
}
.header2{
font-size:90px;
color:black;
text-align:center;
font-family:helvetica;
Text-align:left;
left:40%;
top:25%;
}
.headerp{
font-size:70px;
color:black;
text-align:center;
font-family:helvetica;
Text-align:center;
left:40%;
top:25%;
}
.headerb{
font-size:110px;
color:black;
text-align:center;
font-family:helvetica;
left:40%;
top:25%;
padding-bottom:0px;
}
.header3{
font-size:90px;
color:black;
text-shadow:3px 5px 6px black;
font-family:helvetica;
text-align:center;
left:42%;
top:20.5%;
}
.header4{
font-size:70px;
color:black;
text-shadow:3px 5px 6px black;
font-family:helvetica;
text-align:left;
left:51%;
top:25%;
}
.coffee1{
display:inline-block;
float:left;
width:34%;
top:100%;
left:2%;
border-radius:25px;
}
.coffee4{
display:inline-block;
float:left;
width:34%;
border-radius:25px;
}
.coffee2{
display:inline-block;
float:left;
width:650px;
top:100%;
left:2%;
border-radius:25px;
}
.coffee3{
display:inline-block;
float:left;
width:55%;
border-radius:25px;
}
.Redirect1{
text-align:left;
font-size:25px;
background-color:transparent;
color:black;
position:absolute;
top:170px;
left:38.75%;
border-width:0px;
}
.Redirect2{
text-align:center;
font-size:25px;
background-color:transparent;
color:black;
border-width:0px;
position:absolute;
top:170px;
left:33.25%;
}
.Redirect3{
text-align:right;
font-size:25px;
background-color:transparent;
color:black;
border-width:0px;
position:absolute;
top:170px;
left:53.5%;
}
.Redirect4{
text-align:right;
font-size:25px;
background-color:transparent;
color:black;
border-width:0px;
position:absolute;
top:170px;
left:61%;
}
.purchase{
text-align:center;
font-size:25px;
background-color:black;
color:#8BC34B;
border-radius:10px;
}
.Redirect5{
text-align:center;
font-size:40px;
background-color:black;
color:#CEC897;
border-radius:10px;
}
.Redirect6{
text-align:center;
font-size:40px;
background-color:black;
color:#CEC897;
border-radius:10px;
}
.paragraph{
font-size:50px;
color:black;
font-family:helvetica;
text-align:center;
left:0%;
top:27.5%;
}
.money{
color:#8BC34B;
}